In [0]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed datatypes
my_list = [1, "Hello", 3.4]

# nested list
n_list = ["Happy", [2,0,1,5]]

In [3]:
type(my_list)

list

In [4]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
print('I have', len(shoplist), 'items to purchase.')

I have 4 items to purchase.

In [7]:
shoplist[-1]

'banana'

In [8]:


print('These items are:', end=' :ML-CLASS: ')
# print('These items are:')

for item in shoplist:
    print(item, end=' : ')
    #print(item)

These items are: :ML-CLASS: apple : mango : carrot : banana :

In [0]:
# By default python’s print() function ends with a newline. 
# how to print without newline.

# Python’s print() function comes with a parameter called ‘end’. 
# By default, the value of this parameter is ‘\n’, i.e. the new line character. 
# You can end a print statement with any character/string using this parameter.
# ends the output with a <space> 
print("Welcome to", end = ' ::' ) 
print(" GeeksforGeeks")

Welcome to :: GeeksforGeeks

In [0]:
print("Welcome to" ) 
print("GeeksforGeeks")

Welcome to
GeeksforGeeks

In [11]:
shoplist.append('Brinjal', 'Potato')

TypeError: ignored

In [10]:
shoplist

['apple', 'mango', 'carrot', 'banana', ['Brinjal', 'Potato']]

In [0]:
# append to list
# add one item to a list using append() method or 
# add several items using extend()
print('\nI also have to buy rice.')

shoplist.append('rice')
print('My shopping list is now', shoplist)

shoplist.extend(['table', 'chair', 'pen'])
print('My shopping list is now', shoplist)

# use + operator to combine two lists. This is also called concatenation.
shoplist1 = ['a', 'b', 'c']

shoplist = shoplist + shoplist1
print('My shopping list is now', shoplist)

I also have to buy rice.
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice']
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice', 'table', 'chair', 'pen']
My shopping list is now ['apple', 'mango', 'carrot', 'banana', 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c']

In [0]:
shoplist.

SyntaxError: invalid syntax (<ipython-input-6-82fedf31e038>, line 1)

In [0]:
print(shoplist)

['apple', 'mango', 'carrot', 'banana']

In [0]:

# accessing a list
print(shoplist[0])
print(shoplist[1])

print(shoplist[0][1])    

print(shoplist[1][3])

apple
mango
p
g

In [0]:
# Negative indexing
# Python allows negative indexing for its sequences. 
# The index of -1 refers to the last item, -2 to the second last item and so on.
print(shoplist[-1])
print(shoplist[-4])

banana
apple

In [0]:
print(shoplist)

['apple', 'mango', 'carrot', 'banana', 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c']

In [0]:
# slice lists 
# elements beginning to 3rd
print(shoplist[:3])

# elements 2nd to end
print(shoplist[2:])

# elements beginning to end
print(shoplist[:])

['apple', 'mango', 'carrot']
['carrot', 'banana', 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c']
['apple', 'mango', 'carrot', 'banana', 'rice', 'table', 'chair', 'pen', 'a', 'b', 'c']

In [0]:
# sort the list
print('I will sort my list now')
shoplist.sort()

print('Sorted shopping list is', shoplist)

I will sort my list now
Sorted shopping list is ['a', 'apple', 'b', 'banana', 'c', 'carrot', 'chair', 'mango', 'pen', 'rice', 'table']

In [0]:
# make changes to list
shoplist[1] = "new item"
print(shoplist[:])

['a', 'new item', 'b', 'banana', 'c', 'carrot', 'chair', 'mango', 'pen', 'rice', 'table']

In [0]:
# delete a list item
print('The first item I will buy is', shoplist[0])
olditem = shoplist[0]

del shoplist[0]
print('I bought the', olditem)
print('My shopping list is now', shoplist)

The first item I will buy is a
I bought the a
My shopping list is now ['new item', 'b', 'banana', 'c', 'carrot', 'chair', 'mango', 'pen', 'rice', 'table']

In [0]:
# Remove method: takes a value as input, searches for it, 
# removes the first match. If the item is not found it errors out

# del function: removes an item at a specific index, can delete all elements or a slice
# pop method: by default, it removes and returns the last element but you 
# can pop any element by providing an index

In [0]:
A = [1, 2, 4, 3, 4]
A.remove(4)

# This will print [1, 2, 3, 4]
print("Example 1 : A = {}".format(A))

Example 1 : A = [1, 2, 3, 4]

In [0]:
# (2) Delete an item with index
A = [1, 2, 4, 3, 4]
del A[2]

# This will print [1, 2, 3, 4]
print("Example 2 : A = {}".format(A))

Example 2 : A = [1, 2, 3, 4]

In [0]:
# (3) Delete all items
A = [1, 2, 4, 3, 4]
del A[:]

# This will print []
print("Example 3 : A = {}".format(A))

Example 3 : A = []

In [0]:
# (4) Delete a slice 2, 4
A = [1, 2, 4, 3, 4]
del A[1:3]

In [13]:
print(A)

[1, 3, 4]

In [0]:
# (4) Delete a slice 2, 4
A = [1, 2, 4, 3, 4]
del A[1:3]

# This will print [1, 3, 4]
print("Example 4 : A = {}".format(A))

Example 4 : A = [1, 3, 4]

In [0]:
# (5) pop: remove and get the last item
A = [1, 2, 4, 3, 4]
x = A.pop()

# This will print [1, 2, 4, 3]
print("Example 5 : A = {}".format(A))

# This will print 4
print("Example 5 : x = {}".format(x))

Example 5 : A = [1, 2, 4, 3]
Example 5 : x = 4

In [0]:
# (6) pop with index: remove and get the second item
A = [1, 2, 4, 3, 4]
x = A.pop(1)

# This will print [1, 4, 3, 4]
print("Example 6 : A = {}".format(A))
# This will print 2
print("Example 6 : x = {}".format(x))

Example 6 : A = [1, 4, 3, 4]
Example 6 : x = 2

In [0]:
# Python List Methods
# Methods that are available with list object 

# Are accessed as list.method(). 
'''
append() - Add an element to the end of the list
extend() - Add all elements of a list to the another list
insert() - Insert an item at the defined index
remove() - Removes an item from the list
pop() - Removes and returns an element at the given index
clear() - Removes all items from the list
index() - Returns the index of the first matched item
count() - Returns the count of number of items passed as an argument
sort() - Sort items in a list in ascending order
reverse() - Reverse the order of items in the list
copy() - Returns a shallow copy of the list
'''

In [0]:
# insert() 		- Insert an item at the defined index
shoplist.insert(2, "INSERTED ITEM")
print('My shopping list is now', shoplist)

My shopping list is now ['new item', 'b', 'INSERTED ITEM', 'banana', 'c', 'carrot', 'chair', 'mango', 'pen', 'rice', 'table']

In [0]:
# remove() - Removes an item from the list
shoplist.remove("INSERTED ITEM")
print('My shopping list is now', shoplist)

My shopping list is now ['new item', 'b', 'banana', 'c', 'carrot', 'chair', 'mango', 'pen', 'rice', 'table']

In [0]:
# pop() - Removes and returns an element at the given index
shoplist.pop()
print('My shopping list is now', shoplist)

My shopping list is now ['new item', 'b', 'banana', 'c', 'carrot', 'chair', 'mango', 'pen', 'rice']

In [0]:
# index() - Returns the index of the first matched item
pos = shoplist.index('table')
print('position of matched item is : ', pos)

position of matched item is :  3

In [0]:
# count() - Returns the number of occurances of the matched item
cnt = shoplist.count('table')
print('count of matched item is : ', cnt)

count of matched item is :  2

In [0]:
# creating list of 
powerList = []
for x in range(10):
   powerList.append(2 ** x)

print(powerList)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [0]:
# list comprehension
# List comprehension consists of an expression followed by for statement 
# inside squar ** x for x in range(10)e brackets.
powerList = [2]

In [0]:
# list comprehension with if 
powerList = [2 ** x for x in range(10) ]

print(powerList)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [0]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [0]:
# build powerList of odd numbers
oddpowerList = [2 ** x for x in range(20) if x % 2 == 1]
print(oddpowerList)

[2, 8, 32, 128, 512, 2048, 8192, 32768, 131072, 524288]

In [0]:
# build powerList of even numbers
evenpowerList = [2 ** x for x in range(20) if x % 2 == 0]
print(evenpowerList)

[1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144]

In [0]:
# Iterating Through a List
for listItem in shoplist:
    print("I like - ", listItem)

I like -  apple
I like -  b
I like -  banana
I like -  c
I like -  carrot
I like -  chair
I like -  mango
I like -  pen
I like -  rice
I like -  table

In [0]:
'''
Built-in Functions with List
all()	Return True if all elements of the list are true 
        (or if the list is empty).
any()	Return True if any element of the list is true. 
        If the list is empty, return False.
enumerate()	Return an enumerate object. It contains the index 
            and value of all the items of list as a tuple.
len()	Return the length (the number of items) in the list.
list()	Convert an iterable (tuple, string, set, dictionary) to a list.
max()	Return the largest item in the list.
min()	Return the smallest item in the list
sorted()	Return a new sorted list (does not sort the list itself).
sum()	Return the sum of all elements in the list.
'''

In [0]:
lst = [1, 2, 3, 4, 1, 3, 2, False]
all(lst)

False

In [0]:
# enumerate()
grocery = ['bread', 'milk', 'butter']

enumerateGrocery = enumerate(grocery)

print(list(enumerateGrocery))

[(0, 'bread'), (1, 'milk'), (2, 'butter')]

In [0]:
enumerateGrocery = enumerate(grocery, 100)

print(list(enumerateGrocery))

[(100, 'bread'), (101, 'milk'), (102, 'butter')]

In [0]:
# Looping Over an Enumerate object
for item in enumerateGrocery:
    print(item)

In [0]:
# len()
grocery = ['bread', 'milk', 'butter']
len(grocery)

3

In [0]:
max(grocery)

'milk'

In [0]:
min(grocery)

'bread'