In [0]:
# empty dictionary
my_dict1 = {}

# dictionary with integer keys
my_dict2 = {1: 'apple', 2: 'ball'}

# dictionary with mixed keys
my_dict3 = {'name': 'John', 1: [2, 4, 3]}

# using dict()
my_dict4 = dict({1:'apple', 2:'ball'})

# from sequence having each item as a pair
my_dict5 = dict([(1,'apple'), (2,'ball')])

In [0]:
list1=[[2,3],[4,5]]

In [0]:
list1

[[2, 3], [4, 5]]

In [0]:
dict1=dict(list1)

In [0]:
dict1

{2: 3, 4: 5}

In [0]:
type(my_dict5)

dict

In [0]:
# access elements from a dictionary
# dictionary uses keys. Key can be used either inside square brackets 
# or with the get() method.

my_dict = {'name1':'Jack', 'age': 26, 'name2':'bhupen', 'age': 29,}

print(my_dict['name1'])
# Trying to access keys which doesn't exist throws error
#print(my_dict['name1'])

print(my_dict.get('age'))

my_dict.get('address')

Jack
29

In [0]:
# change or add elements in a dictionary
# If the key is already present, value gets updated, else a new 
# key: value pair is added to the dictionary.
my_dict = {'name':'Jack', 'age': 26}

# update value
my_dict['age'] = 27

print(my_dict)

# add item
my_dict['address'] = 'Downtown'  

print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [0]:
# delete or remove elements from a dictionary
# create a dictionary
squares = {1: 1,  2: 4, 3: 9, 4: 16, 5:25}  

# remove a particular item
print(squares.pop(4))  

# remove an arbitrary item
print(squares.popitem())

# delete a particular item
del squares[5]  

# remove all items
squares.clear()

# delete the dictionary itself
del squares

16
(5, 25)

KeyError: 5

In [0]:
# iterating
stocks = {
        'IBM': 146.48,
        'MSFT':44.11,
        'CSCO':25.54
    }
    
# print out all the keys
for c in stocks:
    print(c, stocks[c])

IBM 146.48
MSFT 44.11
CSCO 25.54

In [0]:
for index in stocks:
    print(index)
    print()

IBM
MSFT
CSCO

In [0]:
# nested dictionary
users = {'user1': {'name': 'John', 'age': '27', 'sex': 'Male'},
          'user2': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [0]:
users

{'user1': {'age': '27', 'name': 'John', 'sex': 'Male'},
 'user2': {'age': '22', 'name': 'Marie', 'sex': 'Female'}}

In [0]:
print(users['user1']['name'])
print(users['user1']['age'])
print(users['user1']['sex'])

John
27
Male

In [0]:
my_list = [{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]
print("Original List: ")
print(my_list)

Original List:
[{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]

In [0]:
my_list.sort(key=lambda e: e['key']['subkey'], reverse=True)
print("Sorted List: ")
print(my_list)

Sorted List:
[{'key': {'subkey': 10}}, {'key': {'subkey': 5}}, {'key': {'subkey': 1}}]